@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-swiper-left {
    @apply absolute top-1/2 -translate-y-1/2 cursor-pointer bg-white rounded-full text-xl text-primary p-2.5 z-10 shadow-md;
  }

  .btn-swiper-right {
    @apply absolute top-1/2 -translate-y-1/2 cursor-pointer bg-white rounded-full text-xl text-primary p-2.5 z-10 shadow-md;
  }
}

body {
  font-family: "Noto Sans Thai", "sans-serif";
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-slide {
  width: auto;
}

.swiper-pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background: #0f63e9;
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #0f63e9;
}

.btn-ripple,
.btn-ripple-m {
  overflow: hidden;
}

.btn-ripple::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0px;
  height: 0px;
  background-color: #d0d5d9;
  z-index: 1;
  opacity: 0;
  transition: width 1000ms, height 1000ms, opacity 200ms;
}

.btn-ripple:active:before {
  opacity: 0.4;
  width: 700px;
  height: 700px;
}

.btn-ripple-m::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0px;
  height: 0px;
  background: #b7d0f8;
  z-index: 1;
  opacity: 0;
  transition: width 1000ms, height 1000ms, opacity 300ms;
}

.btn-ripple-m:active:before {
  opacity: 1;
  width: 100px;
  height: 100px;
}

.ripple-effect {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  pointer-events: none;
  z-index: 1;
  animation: ripple 700ms linear infinite;
}

.ripple-effect-m {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  pointer-events: none;
  z-index: 1;
  animation: ripple-m 700ms linear infinite;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.4;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}

@keyframes ripple-m {
  0% {
    width: 0;
    height: 0;
    opacity: 0.4;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.font-outline-2 {
  -webkit-text-stroke: 2px #0f63e9;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  display: block;
  background-size: 8px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  background-position: center 6px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(158, 158, 158)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  background-position: center 6px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(158, 158, 158)'><polygon points='0,0 100,0 50,50'/></svg>");
}
